# Default ignored files
/.idea
/__pycache__
/dist
/build
*.exe
*.dll
*.msix
*.spec

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/flocast.substvars
debian/flocast/
*.deb
*.buildinfo
*.changes

