# Default ignored files
/.idea
__pycache__/
*.pyc
.venv/
/dist
/build
*.exe
*.dll
*.msix
*.spec

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/floocast.substvars
debian/floocast/
*.deb
*.buildinfo
*.changes

