[Desktop Entry]
Name=FlooCast
Comment=Configure and control FlooGoo USB Bluetooth dongles
Exec=python3 /opt/flocast/main.py
Icon=flocast
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
