#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/flocast/opt/flocast
	cp -r *.py *.png *.gif *.ico locales $(CURDIR)/debian/flocast/opt/flocast/
	install -d $(CURDIR)/debian/flocast/usr/share/applications
	install -m 644 debian/flocast.desktop $(CURDIR)/debian/flocast/usr/share/applications/
	install -d $(CURDIR)/debian/flocast/usr/share/icons/hicolor/256x256/apps
	install -m 644 FlooCastApp.png $(CURDIR)/debian/flocast/usr/share/icons/hicolor/256x256/apps/flocast.png
