#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/floocast/opt/floocast
	cp -r *.py *.png *.gif *.ico locales $(CURDIR)/debian/floocast/opt/floocast/
	install -d $(CURDIR)/debian/floocast/usr/share/applications
	install -m 644 debian/floocast.desktop $(CURDIR)/debian/floocast/usr/share/applications/
	install -d $(CURDIR)/debian/floocast/usr/share/icons/hicolor/256x256/apps
	install -m 644 FlooCastApp.png $(CURDIR)/debian/floocast/usr/share/icons/hicolor/256x256/apps/floocast.png
